[leetmailer]
# dummy config example

# path or url to list with smtp's, of format "server|port|username|password"
smtps_list_file: /root/leetmailer/smtp.txt

# path or url to file with email leads and other email-related data like names etc., separeted by any delimiter.
mails_list_file: /root/leetmailer/emaillist.txt

# comma-separeted list of emails to send test emails to for each new smtp server used. Used to carry inbox-rate statistics.
mails_to_verify: example@gmail.com

# From:-field of lure email, all macros are supported
mail_from: Coca Cola <{{smtp_user}}>

# Reply-To:-field of lure email, all macros are supported
mail_reply_to: Coca Cola example <{{smtp_user}}>

# Subject:-field of lure email , all macros are supported
mail_subject: Your Cola is on the way

# path or url to file with email "html" or "txt" body.
# also can be just email body string (useful when you send sms and don't need separate file for email text)
mail_body: /root/leetmailer/letter.html

# comma-separeted list of paths or urls to desired attachment files, or paths to the folders. Each path will add corresponding file as attachment.
# in case of url, it will be refetched every 100 emails sent. In case of folder one random file from it will be picked for every email.
# may be empty. Attachment file names will be picked from original filenames as is (like "invoice.rar" in example).
# all macros supported
attachment_files:

# path or url to file, filled with redirect-urls to place on {{url}} placeholder inside email body.
# one random line will be picked for each email. may be empty
redirects_file: /root/leetmailer/redirect.txt

# use "add_read_receipts: true" to add "read receipt" headers to your emails. Leave empty if you don't want to add these headers
add_read_receipts:
